* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
nav {
  z-index: 2;
  position: fixed;
  top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  z-index: 1000;
}

.navbar-toggler-icon {
 color: white;
 background-color: rgb(79, 70, 180);
 background-color: rgb(239, 206, 229);
width: 30px;
  /* Adjust the width to fit your icon */
  height: 30px;
  /* border-radius: 2px; */
}
/* .navbar-toggler:hover .navbar-toggler-icon {
  color: white;
  background-color: rgb(247, 228, 182);
} */