body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-color: #3498db;
    /* background-color: red; */
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
    background-color: #fff;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-start {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
}

.btn-start:hover {
    background-color: #2980b9;
}

footer {
    text-align: center;
    color: #777;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

h1 {
    color: #3498db;
}

h2 {
    color: #333;
}