* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    }
hr {
    position: relative;
    /* top: 20px; */
    border: none;
    height: 2px;
    background: rgb(57, 40, 245);
    /* margin-bottom: 50px; */
}
.profile_nav {
    background-color: #e3dfdf;
}
     
/* h2 {
    color: #333;
} */
strong {
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    display: inline;
    
}

li {
    margin-bottom: 5px;
    /* display: inline; */
    /* display: inline-block; */
        /* Display list items inline */
        margin-right: 10px;
        /* Add some spacing between items if needed */

}
.nav-item {
    display: inline-block;
}

footer {
    text-align: center;
    color: #777;
    padding: 10px;
}
/* .space {
    background-color: red;
} */