

.container{
    width:800px;
    max-width:80%;
    padding:10px;
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 0 0 10px 2px;
    overflow: hidden;
}
.answer{
    text-transform: capitalize;
    
}

.control{
    display:flex;
    justify-content: center;
    align-items: center;
}
