{% extends "base.html" %}

{% block html_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/instruct.css' %}" />
{% endblock %}
{% block content %}

   <header class="container mt-3 p-3">
      <div class="row mt-5 pt-3 mt-10 pl-3">
         <div class="col-md-12  offset-md-3 ">
            <div class="card my-3 shadow">
               <div class="card-body">
                  <h1 class="text-center mb-3 p-3">Welcome to the Quiz!</h1>
                  
                  <h2 class="mb-3">Instructions</h2>
                        <ol>
                           <li><strong>Quiz Objective:
                              </strong>
                              This quiz is designed to test your knowledge on general topic.
                              It consists of {{ question_length }} questions.
                           </li>
                        
                           <li><strong>Time Limit:
                              </strong> You have five(5) minutes to complete the quiz.
                              The timer will start as soon as you click "Start Quiz."
                           </li>
                        
                           <li><strong>Question Format:
                              </strong> Each question has multiple-choice options.
                              Choose the answer you believe is correct by clicking on the corresponding option.
                           </li>
                        
                           <li><strong>
                                 Navigating Questions:
                              </strong> You can navigate between questions using
                              the "Previous" and "Next" buttons.
                           </li>
                        
                           <li><strong>Scoring:
                              </strong> Your score will be displayed at the end of the quiz.
                              Click on check result at the profile page to view result for the quiz,
                              and there is no penalty for incorrect answers.
                           </li>
                        
                           <li><strong>Have Fun:
                              </strong> Enjoy the quiz and challenge yourself. Good luck!
                           </li>
                        
                        </ol>
                        <br>
                        <p><strong>Ready to Start?</strong></p>
                        <p>When you're ready,click the
                           <a class='btn' href="{% url 'get_questions' question_id=1 %}">
                              Start Quiz </a>
                           button below to begin.
                           Remember to manage your time wisely and answer to the best of your knowledge.
                        </p>
                        <br>
                        <p>Happy quizzing!</p>
               </div>
            </div>
         </div>
   </header>


   <footer class="text-dark fw-bolder col-md-12  offset-md-3">
      <p>&copy; 2023 Testhub</p>
   </footer>
{% endblock %}
