{% extends "base.html" %}

{% block html_head %}
{% load static %}
 <script src=" {% static 'js/timer.js' %}" defer></script>
 <link rel="stylesheet" href="{% static 'css/quiz.css'%}"
{% load static %}

{% endblock %}


{% block content %}
<div class='container'>
    <div id = 'timer'> Time Remaining: <span id="countdown"> 00:00</span></div>
    <form method="post" action="{% url 'get_questions' question.id %}">
    {% csrf_token %}
    
    <div id='question-box' class='question'>
        <h2 class='question-btn correct' id='question'>{{ question.text }}</h2>
        <div class='answer'>

            {% for answer in answers %}
            
            <input = type="radio" name="selected_answer"
            value=" {{ answer.id }}">
            {{answer.text }}<br>
            {% endfor %}
            
        </div>
    </div>
    <div class='control'>
        {% if prevQuestion %}
        <a href="{% url 'get_questions' question_id=prevQuestion.id %}"> <input type="submit" class="btn btn-primary" value="Prev"> </a>
        {% endif %}
        
        {% if nextQuestion %} 
        <a href="{% url 'get_questions' question_id=nextQuestion.id %}"> <input type="submit" class="btn btn-primary" value="Next"> </a> 
        {% else %}
        <input type="submit" class="btn btn-success" value="End Exam">
        
       {% endif %}
</form>
</div>
</div>

{% endblock %}