{% extends "base.html" %}

{% block html_head %}
{% load static %}

{% endblock %}


{% block content %}
<div class='container'>
    <form method="post">
    {% csrf_token %}
    
    <div id='question-box' class='question'>
        <h2 class='question-btn correct' id='question'>{{ question.text }}</h2>
        <div class='answer'>

            {% for answer in answers %}
            
            <input = type="radio" name="selected_answer"
            value=" {{ answer.id }}">
            {{answer.text }}<br>
            {% endfor %}
            
        </div>
    </div>
</form>
    <div class='control'>
        {% if prevQuestion %}
        <a href="{% url 'get_questions' question_id=prevQuestion.id %}"> <input type="submit" value="Prev"> </a>
        {% endif %}
        
        {% if nextQuestion %} 
        <a href="{% url 'get_questions' question_id=nextQuestion.id %}"> <input type="submit" value="Next"> </a> 
        {% else %}
        <a href="{% url 'review_quiz' %}"><input type="submit" value="Submit"></a>
       {% endif %}
    </div>
</div>

{% endblock %}