{% extends "base.html" %}

{% block html_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/review.css' %}" />
<script src=" {% static 'js/quiz1.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="container">
<h1 class="heading"> Quiz Review </h1>
<p> Thank you {{request.user}} for taking the quiz. </p>

<h2 class="sub-eading"> Your Responses: </h2>
<ul class="responses">
    {% for response in user_responses %}
    <li class="response">
        Question: {{ response.question_id}} <br>
        {% comment %} Selected Answer: {{ response.selected_answer_id }} <br> {% endcomment %}
        {% if response.is_correct %}
        <span style="color: green;"> Correct </span>
        {% else %}
        <span style="color: red;"> Incorrect </span>
        {% endif %}
    </li>
    {% empty %}
    <p class="text-warning" style="font-size:30px;"> Try to attempt quiz </p>
    {% endfor %}

</ul>

<h2> Total Score: {{total_score }} out of {{ user_responses|length }} </h2>
</div>
{% endblock %}